.center { text-align: center; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input { text-align: center; }

.center-table { margin-left:auto; margin-right:auto; width: 85% }
.header-text { text-align: center; font-weight: bold;}

.pt { padding-top: 5px; }
.pb { padding-bottom: 10px; }